[Desktop Entry]
Version=1.0
Type=Application
Name=Configuración WallpaperDynamic
GenericName=Configure your video wallpaper
Exec=/opt/dynamic-wallpaper/config.sh
Icon=deepin-toggle-desktop
Categories=System;